.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu .menu-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-menu .menu-left h2 {
  color: hotpink;
}

.navbar-menu .menu-right {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.navbar-menu .menu-right i {
  color: grey;
}

.navbar-menu .menu-left i {
  color: grey;
}

.navbar-menu .menu-right i:hover {
  color: hotpink;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-menu .menu-left i {
  font-size: 1.5rem;
}

.menu {
  position: fixed;
  z-index: 9999;
  top: -70%;
  transition: all 500ms ease;
}

.menu-open {
  top: 50px;
}

.menu-left.menu-button {
  right: 0;
}

.menu hr.first-hr {
  margin-top: 0;
}

.menu hr.last-hr {
  margin-bottom: 0;
}

.menu p {
  color: grey;
  font-size: 1.25rem;
  font-weight: lighter;
  margin: 0 1rem;
  line-height: 1rem;
}

.menu p:hover {
  color: hotpink;
  cursor: pointer;
  transition: 0.3s;
}
