.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu .menu-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-menu .menu-left h2 {
  color: hotpink;
}

.navbar-menu .menu-right {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.navbar-menu .menu-right i {
  color: grey;
}

.navbar-menu .menu-left i {
  color: grey;
}

.navbar-menu .menu-right i:hover {
  color: hotpink;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-menu .menu-left i {
  font-size: 1.5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10000;
  left: -94%;
  background-color: white;
  transition: all 500ms ease;
}

.menu-open {
  display: flex;
  width: 100%;
  left: 0;
  z-index: 9999;
}

.menu-left.menu-button {
  right: 0;
}

.menu p {
  display: flex;
  color: grey;
  font-size: 1.25rem;
  font-weight: lighter;
  padding: 0 1rem;
  line-height: 3rem;
  border-bottom: 1px solid lightgrey;
}

.menu p.first {
  color: grey;
  font-size: 1.25rem;
  font-weight: lighter;
  padding: 0 1rem;
  line-height: 3rem;
  border-top: 1px solid lightgrey;
}

.menu p:hover {
  color: hotpink;
  cursor: pointer;
  transition: 0.3s;
}
