<div class="card">

  <div class="funding">
    <h5>Funding</h5>
  </div>

  <hr>

  <div class="funding-preview">
    <div class="funding-preview-text">
      <h5>Solar Lights That Are Changing The World!</h5>
      <p>NOW YOU can Change the World One Light at a Time. NEW PERK! HELIX with SENSOR+Help Puerto Rico!!</p>
    </div>
    <div class="funding-preview-image">
      <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_240,w_320/v1517928142/azzi0ryxfulfjasrlurh.jpg" alt="lights for pr">
    </div>
  </div>

  <div class="funding-category">
    <p>ENERGY &and; GREEN TECH</p>
  </div>

  <div class="funding-progress-bar">
    <p>$246,219</p>
    <p>*future home of progress bar*</p>
    <p>Now funding through <strong>InDemand</strong></p>
  </div>

</div>
